/*imports Google Webfonts*/

@import url(https://fonts.googleapis.com/css?family=Signika+Negative:300,400);
@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
/*Class for Background Box of Top Bar*/
body
{
background-color:black;
background-attachment:fixed;
background-position:center; 
background-size:cover;
background-image:url(small-background.jpg);
margin:0px;
}
#body .top
{
    zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
	background-color:000000;
	padding-left:125px;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /*Chrome and Safari*/
	overflow:hidden;
	
}
/*Takes care of the links in the navigation bar*/
#body .links
{
	float:left;
	padding-right:20px;
	padding-top:3px;
}
a.toplinks
{
	font-family: 'Signika Negative', sans-serif;
	font-weight:400;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	display:block;
	height:27px;
	color:white;
	text-align:center;	
	text-decoration:none;
	border:transparent;
	padding-left:2px;
	padding-right:2px;
	vertical-align:middle;

	
}
a.toplinks:hover,a.toplinks:active
{
	
	background-color:#262626;
	-webkit-transition:background-color .5s ;  
   	-moz-transition:background-color .5s ;  
   	-o-transition:background-color .5s ;  
   	transition:background-color .5s ;  
}
/*Styles the contact form*/
#contact
{
    margin-left:13%;
}
/*Styles the Bio Box on the main page*/
#bio
{
    width:500px;
    margin-left:5%;
    margin-top:6%;
    padding:20px;
    background-color:white;
    -moz-border-radius:3px; /* Old Firefox */
    -webkit-border-radius:3px; /*Chrome and Safari*/
    border-radius:3px;
    background: rgb(161, 155, 161) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(161, 155, 161, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#bio .title
{
    font-family: 'Noticia Text', serif;
    padding-top:10px;
    font-size:4.5em;
    text-align:center;
}
#bio .title2
{
    font-family: 'Noticia Text', serif;
    padding-top:10px;
    font-size:3.5em;
    text-align:center;
}
#bio .title3
{
    font-family: 'Noticia Text', serif;
    padding-top:10px;
    font-size:3.3em;
    text-align:left;
}
#bio .content
{
    padding:20px;
    font-family: "Signika Negative", sans-serif;
    font-weight:300;
    font-size: 0.875em;
    text-align:left;
}
/*Styles the boxes at the bottom of the content box*/
#bio .buttonbox
{
    text-align:center;
    font-family: 'Signika Negative', sans-serif;
    font-weight:400;
    margin-bottom:20px;
}
#bio .contact
{
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.15);
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	padding:3px;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /*Chrome and Safari*/

}
a.contactbutton
{
	font-family: 'Signika Negative', sans-serif;
	font-weight:400;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /*Chrome and Safari*/
	text-decoration:none;
	display:block;
	color:black;
}
a.contactbutton:hover,a.contactbutton:active
{
	background: rgba(255, 255, 255, 0.12);  
}

/*Styles the divider in the bio section*/
hr
{
	height:2px;
	border-size:0px;
	background-color:black;
	filter: alpha(opacity=15);
	opacity: 0.15;
}
/*Styles Bulleted Lists*/
ul
{
    padding:20px;
    padding-left:60px;
    font-family: "Signika Negative", sans-serif;
    font-weight:300;
    font-size: 1em;
    text-align:left;
}